
@mixin red-button{
    text-align: center;
    font-family: $display-font;
    font-size: 12px;
    letter-spacing: 0.96px;
    color: #FFFFFF;
    padding: 12px 22px;
    height: 46px;
    background-color: $red;
    border: 0;
    &:hover {
        background-color: #ED7272;
    }
    &:active {
        background-color: #ED7272;
    }
}


@mixin gray-button{
    text-align: center;
    font-family: $display-font;
    font-size: 12px;
    letter-spacing: 0.96px;
    color: #FFFFFF;
    padding: 12px 22px;
    height: 46px;
    background-color: $light-gray;
    border: 0;
    &:hover {
        background-color: $lighter-gray;
    }
    &:active {
        background-color: $lighter-gray;
    }
}



