// Colors
$red: #E82828;
$text-navy: #2C3643;
$darkest-gray: #1F2124;

$light-gray: #A5AEB4;
$lighter-gray: #D6DADD;
$lightest-gray: #EAEEF0;

$input-dark-text: #3B444F;
$input-light-text: #67747C;


// Fonts
$display-font: 'Poppins', sans-serif;
$body-copy: 'Open Sans', sans-serif;