@import './variables';
@import './media-queries';
@import './typography';
@import './buttons';
@import './inputs';

.auth-container{
  z-index: -1000;
  // margin: 130px auto;
  @include small-phone{
    width: 325px;
    margin: 100px auto;
};
  @include large-phone{
    width: 540px;
    margin: 100px auto;
};
  @include portrait-tablet{
    width: 708px;
    min-height: calc(100vh - 220px);
    margin: 140px auto 0 auto;
    display: flex;
  };
  @include landscape-tablet{
    width: 872px;
    min-height: calc(100vh - 220px);
    margin: 140px auto 0 auto;
  };
  @include desktop{
    width: 872px;
    min-height: calc(100vh - 220px);
    margin: 140px auto 0 auto;
};
}

.login-container{
  margin: 0 auto;
  width: 300px;
  padding: 20px 0 30px 0;
}

.register-container{
  margin: 0 auto;
  width: 300px;
  padding: 20px 0 30px 0;
  @include small-phone {
    border-top: 2px solid $lighter-gray;
  };
  @include large-phone{
    border-top: 2px solid $lighter-gray;
  };
  @include portrait-tablet{
    border-top: 0;
    border-left: 2px solid $lighter-gray;
    padding-left: 35px;
    height: 400px
  };
  @include landscape-tablet{
    padding-left: 90px;
  };
  @include desktop{
  };
}

.login-register-subheading{
  margin-bottom: 20px;
}

input {
  @include input-field;
  z-index: -1000;
}

input::placeholder {
  @include input-placeholder
}

input:focus {
  @include input-focus
}

.inputWithIcon input {
  padding-left: 35px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon #input-icon {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 12px;
  color: $input-light-text;
  transition: 0.3s;
}

.auth-btn{
  @include red-button;
  margin-top: 20px;
  width: 100%;
}