@import "./variables";
@import "./media-queries";
@import "./typography";

.dashboard-container {
  @include small-phone {
    margin: 75px auto 50px auto;
    min-height: calc(100vh - 155px);
  }
  @include large-phone {
    margin: 75px auto 50px auto;
    min-height: calc(100vh - 155px);
  }
  @include portrait-tablet {
    margin: 100px auto 50px auto;
  }
  @include landscape-tablet {
    margin: 100px auto 50px auto;
  }
  @include desktop {
    margin: 100px auto 50px auto;
  }
}

.hero-container {
  margin-top: -1px;
  margin-bottom: 30px;
  width: 100%;
  background-image: url("hero-image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include small-phone {
    height: 330px;
  }
  @include large-phone {
    height: 330px;
  }
  @include portrait-tablet {
    height: 330px;
  }
  @include landscape-tablet {
    height: 330px;
  }
  @include desktop {
    height: 450px;
  }
}

.hero {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  @include small-phone {
    width: 325px;
  }
  @include large-phone {
    width: 540px;
  }
  @include portrait-tablet {
    width: 708px;
  }
  @include landscape-tablet {
    width: 872px;
  }
  @include desktop {
    width: 1140px;
  }
}

.hero-content {
  background-color: $hero-gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @include small-phone {
    width: 325px;
  }
  @include large-phone {
    width: 540px;
  }
  @include portrait-tablet {
    width: 575px;
  }
  @include landscape-tablet {
    width: 575px;
  }
  @include desktop {
    width: 575px;
  }
}

#hero-heading-text {
  color: white;
  text-align: left;
  margin-left: 28px;
  margin: 25px 28px 20px 28px;
}

#hero-line {
  margin-left: 28px;
  margin: -10px 0 0 28px;
}

#hero-body-copy {
  @include body-copy;
  font-size: 14px;
  color: white;
  margin-left: 28px;
  padding-bottom: 10px;
  @include small-phone {
    width: 267px;
  }
  @include large-phone {
    width: 480px;
  }
}

.featured-vehicles-container {
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-between;
  @include small-phone {
    width: 325px;
    flex-wrap: wrap;
  }
  @include large-phone {
    width: 460px;
    flex-wrap: wrap;
  }
  @include portrait-tablet {
    width: 580px;
    flex-wrap: wrap;
  }
  @include landscape-tablet {
    width: 872px;
  }
  @include desktop {
    width: 1140px;
  }
}

.featured-vehicle-container {
  border: 1px solid $lighter-gray;
  text-align: left;
  padding: 12px;
  position: relative;
  @include small-phone {
    width: 184px;
    margin: 10px auto;
  }
  @include large-phone {
    width: 184px;
    margin: 10px auto;
  }
  @include portrait-tablet {
    width: 240px;
    margin: 10px auto;
  }
  @include landscape-tablet {
    width: 178px;
    margin: 10px auto;
  }
  @include desktop {
    width: 240px;
    margin: 10px auto;
  }
}

.featured-vehicle-img {
  background-color: gray;
  width: 100%;
  margin-bottom: 8px;
  @include small-phone {
    height: 153px;
  }
  @include large-phone {
    height: 153px;
  }
  @include portrait-tablet {
    height: 200px;
  }
  @include landscape-tablet {
    height: 153px;
  }
  @include desktop {
    height: 200px;
  }
}

.featured-vehicle-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.featured-vehicle-mileage {
  @include body-copy;
  margin-top: 2px;
  margin-bottom: 25px;
}

.featured-vehicle-price {
  color: $red;
  margin-top: 5px;
  position: absolute;
  bottom: 12px;
  text-transform: capitalize;
}


