@import './variables';
@import './media-queries';
@import './typography';
@import './buttons';
@import './inputs';

.inv-vehicle-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 40px;
    @include small-phone {
      margin-top: 100px;
    }
    @include large-phone {
      margin-top: 100px;
    }
    @include portrait-tablet {
      margin-top: 140px;
      min-height: calc(100vh - 260px);
    }
    @include landscape-tablet {
      margin-top: 140px;
    }
    @include desktop {
      margin-top: 140px;
    }
  }