@import "./variables";
@import "./media-queries";
@import "./typography";
@import "./buttons";
@import "./inputs";

.my-vehicles-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  @include small-phone {
    margin: 110px auto 40px auto;
    width: 325px;
    min-height: calc(100vh - 240px);
  }
  @include large-phone {
    margin: 110px auto 40px auto;
    width: 540px;
    min-height: calc(100vh - 240px);
  }
  @include portrait-tablet {
    margin: 140px auto 40px auto;
    width: 540px;
    min-height: calc(100vh - 260px);
  }
  @include landscape-tablet {
    margin: 140px auto 40px auto;
    width: 540px;
    min-height: calc(100vh - 260px);
  }
  @include desktop {
    margin: 140px auto 40px auto;
    width: 540px;
    min-height: calc(100vh - 260px);
  }
}

// @include small-phone{
//     width: 325px;
// };
// @include large-phone{
//     width: 540px;
// };
// @include portrait-tablet{
//     width: 708px;
// };
// @include landscape-tablet{
//     width: 872px;
// };
// @include desktop{
//     width: 1140px;
// };

#my-vehicles-line{
  margin-bottom: 40px;
}

.my-vehicle-container {
  display: flex;
  margin-top: 20px;
  border-bottom: 1px solid $lighter-gray;
  padding-bottom: 20px;
  text-align: left;
}

.my-vehicle-car-img {
  width: 100px;
  height: 90px;
  object-fit: cover;
}

.my-vehicle-car-info-container {
  margin-left: 15px;
}

.my-vehicle-car-title {
  margin-bottom: 0;
}

.my-vehicle-car-vin {
  margin-top: 3px;
}

.my-vehicles-add-car-btn-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

.my-vehicles-add-car-btn{
  @include red-button;
}
