@import './variables';
@import './media-queries';
@import './typography';

.header-container{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $darkest-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    @include small-phone{
        height: 75px;
    };
    @include large-phone{
        height: 75px;
    };
    @include portrait-tablet{
        height: 100px;
    };
    @include landscape-tablet{
        height: 100px;
    };
    @include desktop{
        height: 100px;
    };
}

header{
    margin: 0 auto;
    @include small-phone{
        width: 325px;
    };
    @include large-phone{
        width: 540px;
    };
    @include portrait-tablet{
        width: 708px;
    };
    @include landscape-tablet{
        width: 872px;
    };
    @include desktop{
        width: 1140px;
    };
}

.mobile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include small-phone{
        width: 325px;
    };
    @include large-phone{
        width: 540px;
    };
    @include portrait-tablet{
        display: none;
    };
    @include landscape-tablet{
        display: none;
    };
    @include desktop{
        display: none;
    };  
}

.header-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include small-phone{
        height:50px
    };
    @include large-phone{
        height:50px
    };
    @include portrait-tablet{
        height:57px
    };
    @include landscape-tablet{
        height:57px
    };
    @include desktop{
        height:57px
    };
}

#mobile-menu-btn{
    color: white;
    font-size: 35px;
    font-family: $display-font;
}

.dropdown-container{
    width: 100%;
    height: auto;
    background-color: $input-dark-text;
    z-index: 1000;
    position: fixed;
    top: 74px;
    @include small-phone{
    };
    @include large-phone{
    };
    @include portrait-tablet{
        display: none;
    };
    @include landscape-tablet{
        display: none;
    };
    @include desktop{
        display: none;
    };
}

.dropdown-nav-links{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include small-phone{
        width: 325px;
        padding: 20px 0;
    };
    @include large-phone{
        width: 540px;
        padding: 20px 0;
    };
}

.nav-link{
    color: white;
    text-decoration: none;
    font-family: $body-copy;
    font-weight: 600;
    letter-spacing: 0.8px;
    // text-align: left;
    @include small-phone{
        padding: 20px 0;
        font-size: 17px;
    };
    @include large-phone{
        padding: 20px 0;
        font-size: 19px;
    };
    @include portrait-tablet{
        padding: 0;
        font-size: 13px;
    };
    // @include landscape-tablet{
    // };
    // @include desktop{
    // };
}

#dropdown-welcome-text{
    padding: 0;
    margin-bottom: 0;
    font-size: 19px;
    text-align: left;
}

#dropdown-username{
    @include heading-2;
    color: white;
    margin: 15px 0 0 0;
    padding-bottom: 20px;
    text-align: left;
}

#dropdown-user-info{
    display: flex;
    flex-direction: column;
}

#dropdown-line{
    margin: 20px 0px;
}


.desktop-nav{
    @include small-phone{
        display: none;
    };
    @include large-phone{
        display: none;
    };
    @include portrait-tablet{
        display: initial;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 708px;
    };
    @include landscape-tablet{
        width: 872px;
    };
    @include desktop{
        width: 1140px;
    };  
}

.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include portrait-tablet{
        width: 430px
    };
    @include landscape-tablet{
    };
    @include desktop{
    };  
}

.header-right{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    // width: 300px;
}

.profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}

.header-profile-pic{
    width: 56px;
    height: 56px;
    object-fit: cover;
}

#welcome-user-container{
    text-align: left;
    padding-left: 10px;
}