@import "./variables";
@import "./media-queries";
@import "./typography";
@import "./buttons";

.profile-page-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 40px;
  @include small-phone {
    margin-top: 75px;
  }
  @include large-phone {
    margin-top: 75px;
  }
  @include portrait-tablet {
    margin-top: 100px;
    min-height: calc(100vh - 220px);
  }
  @include landscape-tablet {
    margin-top: 100px;
  }
  @include desktop {
    margin-top: 100px;
  }
}

.profile-primary-info {
  display: flex;
  @include small-phone {
    flex-direction: column;
    width: 325px;
    margin: -150px auto 0 auto;
  }
  @include large-phone {
    width: 540px;
    margin: -110px auto 0 auto;
  }
  @include portrait-tablet {
    width: auto;
    margin: -110px auto 0 auto;
  }
  @include landscape-tablet {
    width: auto;
    max-width: 872px;
    margin: -110px auto 0 auto;
  }
  @include desktop {
    width: auto;
    max-width: 1140px;
    margin: -110px auto 0 auto;
  }
}

.profile-hero-pic {
  width: 100%;
  height: 220px;
  object-fit: cover;
  z-index: -50;
}

.current-profile-pic-container {
  width: 255px;
  height: 215px;
  border: 1px solid $lighter-gray;
  background-color: white;
  @include small-phone {
    margin: 0 auto;
  }
  @include large-phone {
  }
  @include portrait-tablet {
  }
  @include landscape-tablet {
  }
  @include desktop {
  }
}

.current-profile-pic {
  width: 223px;
  height: 185px;
  object-fit: cover;
  margin: 15px auto;
}

.username-container {
  text-align: left;
  @include small-phone {
    width: 325px;
    margin: 0 auto;
  }
  @include large-phone {
    margin: 115px 0 0 20px;
  }
  @include portrait-tablet {
    margin: 115px 0 0 20px;
  }
  @include landscape-tablet {
    margin: 115px 0 0 20px;
  }
  @include desktop {
  }
}

.profile-line {
  margin-left: 0;
}

.profile-sub-heading {
  @include body-copy;
  margin-bottom: 0;
}

.profile-secondary-info-container {
  margin: 0 auto;
  display: flex;
  @include small-phone {
    width: 325px;
    flex-direction: column;
    align-items: flex-start;
  }
  @include large-phone {
    width: 540px;
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  @include portrait-tablet {
    width: auto;
    max-width: 708px;
    margin-top: 20px;
    flex-direction: row;
  }
  @include landscape-tablet {
    width: auto;
    max-width: 872px;
  }
  @include desktop {
    width: auto;
    max-width: 1140px;
  }
}

#secondary-info {
  text-transform: initial;
  text-align: left;
  @include small-phone {
  }
  @include large-phone {
  }
  @include portrait-tablet {
    padding-right: 40px;
  }
  @include landscape-tablet {
  }
  @include desktop {
  }
}

.profile-edit-button {
  @include red-button;
  margin-left: 0;
  @include small-phone {
    margin-top: 20px;
  }
  @include large-phone {
    margin-top: 20px;
  }
  @include portrait-tablet {
  }
  @include landscape-tablet {
  }
  @include desktop {
  }
}

.pop-up-container {
  z-index: 1000;
  position: fixed;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include small-phone {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 315px;
    padding: 30px 0;
  }
  @include large-phone {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 315px;
    padding: 30px 0;
  }
  @include portrait-tablet {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 315px;
    padding: 30px 0;
  }
  @include landscape-tablet {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 315px;
    padding: 30px 0;
  }
  @include desktop {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 315px;
    padding: 30px 0;
  }
}

.popup-heading{
  width: 250px;
  text-align: center;
}

.dropzone-btn {
  @include red-button;
  width: 206px;
  height: auto;
  margin: 30px auto 20px auto;
}

.popup-input {
  @include small-phone {
    width: 250px;
  }
  @include large-phone {
    width: 250px;
  }
  @include portrait-tablet {
  }
  @include landscape-tablet {
  }
  @include desktop {
  }
}

.new-profile-pic {
  width: 190px;
  height: 175px;
  object-fit: cover;
  margin-top: 30px;
}

.popup-buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  @include small-phone {
    width: 250px;
  }
  @include large-phone {
    width: 250px;
  }
  @include portrait-tablet {
  }
  @include landscape-tablet {
  }
  @include desktop {
  }
}

.cancel-btn {
  @include gray-button;
}

.save-btn {
  @include red-button;
}

.background-overlay {
  background-color: rgba(0, 0, 0, 0.541);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(2px);
}

.logout-btn-container {
  margin: 0 auto;
  display: flex;
  @include small-phone {
    width: 325px;
    // justify-content: flex-start;
    // align-items: flex-start;
  }
  @include large-phone {
    width: 540px;
  }
  @include portrait-tablet {
    width: auto;
    max-width: 708px;
  }
  @include landscape-tablet {
    width: auto;
    max-width: 872px;
  }
  @include desktop {
    width: auto;
    max-width: 1140px;
  }
}

.logout-btn {
  @include gray-button;
  @include small-phone {
    margin: 25px 0;
    // width: 91px;
  }
  @include large-phone {
    margin: 25px 0;
    width: 91px;
  }
  @include portrait-tablet {
    margin: 25px auto;
  }
  @include landscape-tablet {
    margin: 25px auto;
  }
  @include desktop {
    margin: 25px auto;
  }
}

// @include small-phone{
//     width: 325px;
// };
// @include large-phone{
//     width: 540px;
// };
// @include portrait-tablet{
//     width: 708px;
// };
// @include landscape-tablet{
//     width: 872px;
// };
// @include desktop{
//     width: 1140px;
// };
