@import './Components/styling/variables';
@import './Components/styling/typography';
@import './Components/styling/inputs';


.App {
  text-align: center;
}

hr{
  @include red-line;
  margin-left: 0;
}

h1{
  @include heading-1;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2{
  @include heading-2;
  margin-top: 0px;
  margin-bottom: 0px;
}
h3{
  @include heading-3;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4{
  @include heading-4;
  margin-top: 0px;
  margin-bottom: 0px;
}

h5{
  @include heading-5;
  margin-top: 0px;
  margin-bottom: 0px;
}

p{
  @include body-copy;
}

textarea{
  @include input-field;
  height: 100px;
  padding-top: 8px;

}

textarea::placeholder{
  @include input-placeholder
}

textarea:focus{
  @include input-focus
}